<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Profile Settings | Tournament Manager</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/maker">
      <span class="app-title">Tournament Manager</span>
    </a>
    <div class="navlink">
      <a href="/maker">Dashboard</a>
    </div>
    <div class="navlink">
      <a href="/logout">Log out</a>
    </div>
  </nav>
    
    <div class="profile-content">
      <h1>Change Password</h1>

      <div id="password-section"></div>
    </div>
  </section>

  <div id="tournamentMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="tournament" src="assets/img/trophy.jpg" alt="trophy"/>
  </div>
  
  <script src="/assets/profilebundle.js"></script>
</body>
</html>
